{% extends 'home_page/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock title%}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <div class="form-control">
                <h3 class="text-center">Edit profile form</h3>
                <hr>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                    <p class="text-muted">Do you want to change your password?
                        <a href="{% url 'users:password-edit' %}">Click here</a>
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-outline-secondary" type="submit">Update</button>
                        <a class="btn btn-outline-secondary" href="{% url 'home_page:home-page' %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}