{% extends 'home_page/base.html' %}
{% load crispy_forms_tags %}

{% block title %}New Post{% endblock title%}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <form method="POST" class="form-control">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-secondary" type="submit">Post</button>
<!--                    <p>{% lorem 5 p random %}</p>-->
                </form>


            </div>
        </div>
    </div>
                <form class="form-control" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
{% endblock content %}
