{% extends 'home_page/base.html' %}

{% block title %}Blog Page{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center mt-4">Posts list</h1>
    <div class="container-fluid">
        {% for post in object_list %}
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="form-control">
                        <h4><a href="{% url 'blog:post-details' post.pk %}">{{ post.title|title }}</a></h4>
                        Author - {{ post.author }}. Category - <a href="{% url 'blog:category-details' post.category.name|lower|slugify %}">{{ post.category }}</a>.
                        <p class="article-content">{{ post.body|safe|truncatewords:50 }}</p>
                        <small class="text-muted">Added - {{ post.add_post_date }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
